// Laadscherm met draaiende VIVES-logo.
<div class="loading-screen">
    <img src="images/mainlogo_vives_nobackground.png" alt="Loading VIVES" class="loading-logo" />
    <p>Even geduld, gegevens worden geladen...</p>
</div>
