@page "/"

<h1>VivesRental Dashboard</h1>

<ul>
    <li><NavLink href="/articles">Artikelbeheer</NavLink></li>
    <li><NavLink href="/customers">Klantenbeheer</NavLink></li>
    <li><NavLink href="/orders">Orderbeheer</NavLink></li>
</ul>
