@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <img src="images/vives_long_nobackground.png" alt="VIVES Logo" class="header-logo" />
        <nav>
            <NavMenu />
        </nav>
    </header>

    <main>
        <div class="content">
            @Body
        </div>
    </main>

    <footer>
        <p>&copy; 2025 VIVES Rental. Alle rechten voorbehouden.</p>
    </footer>
</div>
